[submodule "mruby"]
	path = mruby
	url = https://github.com/mruby/mruby
[submodule "mruby-minigame"]
	path = mruby-minigame
	url = https://github.com/bggd/mruby-minigame
[submodule "mruby-gamepad"]
	path = mruby-gamepad
	url = https://github.com/bggd/mruby-gamepad
